instances:
  - name: master
    dns:
      - es-test
      - es-test-priv
    ip:
      - 192.168.1.65 
      - 192.168.1.65

  - name: warm
    dns:
      - es-test1
      - es-test1-priv
    ip:
      - 192.168.1.64
      - 192.168.1.64

